<div class="card about-section">
    <h1 class="card-title">Csongor Vass</h1>
    <div class="card-body">
        <p class="card-subtitle">This project is a homework project for the course Client Side Technologies at BME</p>
        <p>The application uses Angular with Bootstrap styling</p>
        <p>Data is coming from <a href="https://openlibrary.org/developers/api" target="_blank" style="color: white;">Open Library API</a></p>
        <p>You can find the source code on my <a href="https://github.com/CsonVass/Bookle" target="_blank" style="color: white;">Github</a> account</p>
    </div>
</div>
